<!DOCTYPE html>
<html>

<head>
    <title>The Music directory</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css' )}}" type="text/css" /> </head>

<body>
    <h1>Neel's top {{length}} Fav artist</h1>
    {%for i in artists%}
    <button class=a>{{i}}</button> {%endfor%}
</body>

<body>
    <!--This is coment to test-->


    <div class=a>
        <p> Random artist we have picked is
            <a href="{{randValue}}" title="link to artist profile"><button>{{randkey}}</button> </a>
        </p>
    </div>

</body>


</html>
